<div class="card card-bar-red block trailer-1 fast_transition">
  <div class="card-content">
    <h7 class="text-center">Inventory</h7>
    <p class="font-size--1 card-last">We can do whatever we want here.</p>
  </div>
</div>