// Place all the styles related to the app controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section#side_bar {
	display: inline-block;
	width: 20%;
	height: 100vh;
	overflow: hidden;
}

section#interface {
	display: inline-block;
	width: 80%;
	height: 100vh;
	overflow: hidden;
}